.page {
  overflow-y: scroll;
  scrollbar-color: #0a0a0a33 #1f3249 !important;
  height: calc(100vh - 4rem);
}

.main {
  padding: 20px;
}

.main h1 {
  margin: 20px;
  margin-bottom: 4rem;
  color: white;
}
