.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    list-style: none;
}

.steps {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .listItem {
        display: flex;
        gap: 1rem;
    }
}