/* src/app/login/styles.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: linear-gradient(to right, #141e30, #243b55); /* Fondo degradado */
  padding: 20px; /* Espacio interno */
  width: 100%;
}

.logo {
  display: flex; /* Ajusta el tamaño del logo según sea necesario */
  margin: 3rem;
}

.title {
  color: #FFF;
  font-size: 1.8rem; /* Tamaño de fuente más grande */
  margin: 2rem;
  text-align: center; /* Centra el texto */
}

.signupLink {
  color: white;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-style: italic;
}

.signupLink a {
  color: #50a78d;
  text-decoration: none;
}

.signupLink a:hover {
  text-decoration: underline;
}

.formContainer {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px #50a78d60;
  align-items: center;
  border: 1px solid #7d978f;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%; /* Ancho del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
}

.logo {
  /* Estilos para el logo */
  display: flex; /* Ajusta el tamaño del logo según sea necesario */
  margin-bottom: 2rem;
}

.agreements {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  color: #50a78d60;
}

.agreements div {
  width: 32px;
}