.select {
    padding: 0.8rem;
    border: 1px solid #2c735d;
    border-radius: 4px;
    background-color: #1f2937;
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}

.label {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}